.click_button {
    height: 42px;
    width: 42px;
    background-color: rgba(255,0,0,1);
    cursor: pointer;
}


.piece {
    height: 50px;
    width: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}


.blank {
    background-color: #DDDDDD;
}

.player1 {
    background-color: #FF0000;
}

.player2 {
    background-color: rgb(251, 255, 0);	
}

.board_square {
    border: 1px solid #555555;
    border-radius: 50px;
    border-collapse: collapse;
    background-color: white;
}

.dropB {
    margin: 0 auto;
    padding: 10%;
}
#game_table {
    background-color: blue;
}