body {
    background-color: green;
}
.click_button {
    height: 42px;
    width: 42px;
    background-color: rgba(255,0,0,1);
    cursor: pointer;
}


.piece {
    height: 50px;
    width: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

#info {
    font-size: 2em;
    text-align: center;
}
.blank {
    background-color: #DDDDDD;
}

.player1 {
    background-color: #FF0000;
}

.player2 {
    background-color: rgb(251, 255, 0);	
}

.board_square {
    border: 1px solid #555555;
    border-radius: 50px;
    border-collapse: collapse;
    background-color: white;
}

.dropB {
    padding: 20%;
}
.dropB:hover {
    background-color: #555555;
}
#game_table {
    background-color: blue;
    text-align: center;
    border: 2px solid blue;
    border-radius: 25px;
    margin: 40px auto;
}
#begin {
    background-color: yellow;
    font-size: 2em;
    margin-left: 900px;
}